.payment-type {
  margin-top: 1rem;
}

.payment-select {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: white;
  width: 200px;
}

.payment-select option {
  padding: 0.5rem;
} 